<!doctype html>
<html>
  <head>
    {{ partial "pixels" . }}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ .Permalink }}">

    <title>
      {{ block "title" . }}
        {{ .Title}}{{ if ne .Title .Site.Title }} | {{ .Site.Title }}{{ end }}
      {{ end }}
    </title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<link rel="stylesheet" href="/css/particles.css">
<link rel="stylesheet" href="/css/style.css">
    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>

<body>
          <div id="particles-js"></div>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TN5JRC8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    {{ block "header" . }}
      {{ partial "header" . }}
    {{ end }}
      <main>
          {{ block "body" . }}
                {{ block "main" . }}
                {{ end }}
          {{ end }}
      </main>
  </body>
</html>
