<section id="about" class="featured-columns">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-md-5 mr-4" data-aos="fade-right" data-aos-offset="200" data-aos-delay="50">
        <div class="featured-columns_text">
          <h2 class="title">We know crypto</h2>
          <p>
            Sometimes the hardest part about crypto is explaining crypto. As insiders, we understand the tech and the overly complicated jargon that comes with it. We help businesses and developers simplify their message so that it can be understood by everyone - even grandma.
          </p>
        </div>
      </div>
      <div class="col-md-6 right" data-aos="fade-left" data-aos-offset="200" data-aos-delay="100">
        <div class="media">
          <i class="far fa-circle"></i>
          <div class="media-body">
            <h5>Pre ICO</h5>
            Build a buzz that lasts. Talk with our advisors and plan a solid strategy for launch that will carry over past your ICO date. Make your concepts tangible with home-grown content and campaigns that inform and excite users.
          </div>
        </div>
        <div class="media">
          <i class="far fa-circle"></i>
          <div class="media-body">
            <h5>Existing Coins and Tokens</h5>
            Grow more than just your community - bring in more users to test out beta platforms, obtain premium media placements for your updates and achievements, and establish your brand identity.
          </div>
        </div>
        <div class="media">
          <i class="far fa-circle"></i>
          <div class="media-body">
            <h5>Exchanges</h5>
            Exchanges need marketing too. We provide premium media placements and user aquisition campaigns to grow not only user numbers, but trust as well.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
