<div class="container">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/"><img class="brand-logo img-fluid" src="/img/logo-dark.png"></img></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <!--- start menu range --->
        <li class="nav-item">
          <a class="nav-link" data-scroll href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-scroll href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-scroll href="#contact">Contact</a>
        </li>
        <!--- end menu range --->
      </ul>
    </div>
  </nav>
</div>
